.form{
    margin: 30px 33%;
    background-color: #ffffff;
    border: 1px solid #64b007;
    border-top: 10px solid #64b007;
    /* border-bottom: 15px solid #ff4b2b; */
    border-radius: 20px ;
    padding: 30px 70px;
    box-shadow: 10px 10px 15px 1px rgba(70, 70, 70, 0.1);
   transition: all 0.2s ease;
}
.form:hover{
    box-shadow: 15px 15px 15px 1px rgba(70, 70, 70, 0.1);
}
h2{
    text-align: center;  
}
label{
    font-size: 20px;
    font-weight: 500;
}
input{
    border: 1px solid rgba(0, 0, 0,.2);
    border-radius: 5px;
    border:none;
    border-bottom: 2px #000 solid;
    padding: 12px 10px;
}

form{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* padding: 0px 50px; */
    margin-top: 5px;
}
label{
    padding-top: 20px;
    text-align: left;
}
.btn{
   margin-top: 20px;
}
/* button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to right, #009245 , #FCEE21);
    color: #000;
    font-weight: 500;
    padding: 10px 80px;
    transition: 0.3s all ease;
}
button:hover{
scale: 1.03;
} */
#submitbtn{
    border: 1px;
    border-radius: 50px;
    padding: 10px;
    margin: 50px 0px;
    background: linear-gradient(to right, #009245 , #FCEE21);
    color: #fff;
    font-weight: 500;
    padding: 10px 80px;
    transition: 0.3s all ease;
    cursor: pointer;
}
#submitbtn:hover{
scale: 1.02;
}
p{
    font-size: 20px;
   
}